.card {
  display: flex;
  flex-direction: column;
  background-color: #8a8080;
  text-align: left;
  padding: 30px;
  margin-bottom: 50px;
}

.bullets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.correction {
  margin-bottom: 50px;
}

.aboutC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrol {
  flex-direction: column;
  height: 50vh;
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-left: 10px;
}
