.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 35, 37);
  text-align: left;
  padding: 30px;
  margin-bottom: 50px;
}

.headings {
  text-align: left;
  align-items: flex-start;
  width: 50%;
}

.bullets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aboutC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.scrol {
  flex-direction: column;
  height: 50vh;
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
