.topnav {
  display: flex;
  overflow: hidden;
  background-color: #ff473d;
  justify-content: center;
  column-gap: 500px;
}
/* Style the topnav links */
.topnav a {
  color: #ffe882;
  padding: 10px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #827a7a;
  color: black;
}
