.App {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  justify-content: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Headings {
  text-align: left;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

/* Right column */
/* Add a card effect for articles */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
